.buttonblock {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;

    &__ul {
        padding: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        max-width: 1150px;
        min-height: 50px;

        @media(max-width: 500px) {
            display: grid;
        }

        &__li {
            list-style-type: none;
            margin: 0;
            
            @media(max-width: 500px) {
                margin-top: 10px;
            }
        }

        &__li a {
            font-family: Montserrat-SemiBold;
            font-size: 20px;
            text-decoration: none;
            color: #000000;
            transition: 0.2s;

            @media(max-width: 650px) {
                font-size: 15px;
            }

        }

        &__li a:hover {
            color: #8a8a8a;
            transition: 0.2s;
        }
    }
}