h1,h2,p,a {
    margin: 0;
    text-decoration: none;
}

.fourblock {
    margin-top: 50px; 
    min-height: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    &__title {
        font-family: Montserrat-Regular;
        font-size: 40px;
        color: #4C4082;
    }

    &__news img {
        position: relative;
        right: 30px;
        bottom: 30px;
        transition: 0.5s;
        max-width: 430px;

        @media(max-width: 700px) {
            right: 0;
            bottom: 0;
            height: 200px;
            margin-top: 20px;
        }
    }

    &__news {
        max-width: 1100px;
        width: 100%;
        background-color: #F0F0F0;
        display: grid;
        margin-right: 2vw;
        margin-left: 2vw;
        box-sizing: border-box;
        grid-template-areas: 
            "a b"
            "c c";
        transition: 0.5s;
        grid-template-rows: 1fr 0.2fr;
        grid-template-columns: 1fr 1.4fr;
        

        @media(max-width: 700px) {
            grid-template-areas: 
            "a"
            "b"
            "c";
            justify-items: center;
            grid-template-rows: none;
            grid-template-columns: none;
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-area: b;

            @media(max-width: 600px) {
                margin-left: 10px;
                padding-right: 10px;
            }

            &__textblock {
                display: flex;
                flex-direction: column;
                min-height: 150px;
                justify-content: space-around;
                max-width: 600px;

                @media(max-width: 700px) {
                    align-items: center;
                }

                &__title {
                    font-family: Montserrat-Medium;
                    font-size: 18px;

                    @media(max-width: 700px) {
                        text-align: center;
                    }

                    @media(max-width: 400px) {
                        margin-top: 10px;
                    }
                }

                &__text {
                    font-family: Montserrat-Medium;
                    font-size: 16px;

                    @media(max-width: 700px) {
                        text-align: center;
                    }

                    @media(max-width: 400px) {
                        margin-top: 10px;
                    }
                }

                &__time {
                    font-family: Montserrat-Light;
                    font-size: 14px;

                    @media(max-width: 400px) {
                        margin-top: 10px;
                    }
                }
            }
        }

        &__block {
            background-color: #D1D1D1;
            width: 100%;
            grid-area: c;
            display: flex;
            justify-content: flex-end;
            padding: 10px 0 10px 0;
        }

        &__block {
            &__button:hover {
                background-color: #E6E6E4;
                color: #54488A;
            }

            &__button {
                margin-right: 3vw;
                background: #54488A;
                color: #fff;
                cursor: pointer;
                height: 46px;
                line-height: 50px;
                position: relative;
                width: 176px;
                text-align: center;
                text-decoration: none;
                border: 2px solid #E6E6E4;
                border-radius: 7px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.5s;
                font-family: 'Montserrat-Medium';
                font-size: 16px;
                transform: perspective(1000px);
                -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            }
        }
    }
}