h1, h2, p {
    margin: 0;
}

.firsthalf {
    width: 60%;
    margin: 0;
    padding: 0;
    background-image: url('../../../img/texture.jpg');
    background-size: 20px;

    @media(max-width: 650px) {
        width: 100%;
    }

    &__wrapper {
        width: 100%;
        max-width: 690px;
        float: right;
        padding: 76px 50px 67px 15px;
        box-sizing: border-box;

        @media(max-width: 650px) {
            max-width: 650px;
            padding: 50px 0 50px 5px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100%;
        }


        &__title {
            font-family: Montserrat-Light;
            font-size: 40px;
            width: 100%;
            max-width: 480px;
            text-align: center;
            color: #E6E6E4;
            transition: 0.2s;

            @media(max-width: 650px) {
                transition: 0.2s;
                font-size: 30px;
            }
        }
    
        &__text {
            font-family: Montserrat-Regular;
            color: #E6E6E4;
            width: 100%;
            max-width: 465px;
            margin-top: 60px;
            font-size: 20px;
            transition: 0.2s;

            @media(max-width: 650px) {
                transition: 0.2s;
                font-size: 15px;
                margin-top: 30px;
                box-sizing: border-box;
                padding: 0 20px 0 5px;
            }
        }
    
        &__address {
            font-family: Montserrat-Light;
            font-size: 40px;
            margin-top: 85px;
            color: #E6E6E4;
            transition: 0.2s;

            @media(max-width: 650px) {
                transition: 0.2s;
                font-size: 30px;
                margin: 30px 20px 0 0;
                box-sizing: border-box;
            }
        }
    
        &__address-info {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 50px 1fr;
            grid-template-rows: 45px;
            grid-template-areas: 
                "a b";
            align-items: center;
            justify-items: center;
            transition: 0.2s;

            @media(max-width: 650px) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                grid-template-areas: 
                    "a"
                    "b";
                margin-top: 10px;
                transition: 0.2s;
            }
    
            &__area {
                font-family: Montserrat-Light;
                font-size: 13px;
                grid-area: b;
                line-height: 32px;
                margin-left: 24px;
                color: #E6E6E4;
                transition: 0.2s;

                @media(max-width: 650px) {
                    transition: 0.2s;
                    font-size: 10px;
                    margin-left: 0;
                    max-width: 70vw;
                    line-height: 20px;
                    margin-top: 10px;
                }
            }
        }
    
        &__address-info img {
            margin-top: 3px;
            grid-area: a;
        }
    }

    


}

.firsthalf .button {
    margin-top: 30px;
}