.tickets-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    &__title {
        width: 100%;
        background-color: #54488A;
        height: 150px;
        font-size: 64px;
        font-family: Montserrat-Medium;
        color: #E6E6E4;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width: 650px) {
            font-size: 32px;
        }
    }

    &__subtitle {
        width: 100%;
        color: #54488A;
        font-size: 36px;
        font-family: Montserrat-Regular;
        max-width: 1050px;
        display: flex;
        margin-top: 50px;
    }

    &__subtitle p {
        text-align: center;
    }


    &__main-table {
        display: flex;
        flex-direction: column;
        max-width: 340px;
        width: 100%;
        margin-top: 50px;

        &__header {
            background-color: #54488A;
            display: flex;
            flex-direction: column;
            align-items: center;
            min-height: 70px;
            justify-content: center;

            &__title {
                color: #fff;
                font-size: 24px;
                font-family: Montserrat-Light;
            }

            &__text {
                color: #fff;
                font-size: 15px;
                font-family: Montserrat-Light;
            }
        }

        &__main-block {
            max-width: 340px;
            width: 100%;
            background-color: #EEEEEE;
            height: 430px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 30px;

            &__age {
                color: #000;
                font-family: Montserrat-Regular;
                font-size: 24px;
                margin-top: 25px;
                text-align: center;
            }

            &__table-wrapper {
                border: 1px solid black;
                max-width: 275px;
                width: 100%;
                display: flex;
                flex-direction: row;

                &__left-cell {
                    max-width: 100px;
                    width: 100%;
                    min-height: 50px;
                    border: 1px solid #7B7B7B;
                    display: flex;
                }

                &__right-cell {
                    width: 100%;
                    min-height: 50px;
                    border: 1px solid #7B7B7B;
                }
            }
        }
    }


    
}