.button {
  z-index: 2;
}

.button__button:hover {
    background-color: #E6E6E4;
    color: #54488A;
}


.button__button {
    background: #54488A;
    color: #fff;
    cursor: pointer;
    height: 46px;
    line-height: 50px;
    position: relative;
    width: 176px;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    border: 2px solid #E6E6E4;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
    transform: perspective(1000px);
     -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  
  .button__content {
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -2px;
    opacity: 0;
    text-align: center;
    top: 0;
    visibility: hidden;
  }
  
  .button__content li:first-child {
    cursor: default;
  }
  
  .button__content a {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    text-decoration: none;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  
  .button__content a:hover {
    background: #6f6891;
    color: #fff;
  }
  
  .button__button:hover .button__content {
    background: #54488A;
    opacity: 1;
    visibility: visible;
    top: 100%;
    width: 100%;
    -webkit-transition: all .3s, background, .2s .3s linear;
    transition: all .3s, background .2s .3s linear;
    border: 2px #E6E6E4 solid;
    border-radius: 7px;
  }

  .button__content img {
    width: 40px;
    height: 40px;
  }